<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../lib/PHPPdf</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="PHPPdf">
            <directory>Cache</directory>
            <directory>Configuration</directory>
            <directory>Enhancement</directory>
            <directory>Font</directory>
            <directory>Formatter</directory>
            <directory>Glyph</directory>
            <directory>Main</directory>
            <directory>Parser</directory>
            <directory>Util</directory>
        </testsuite>
    </testsuites>
</phpunit>