<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="PHPPdf">
            <directory>Parser</directory>
            <directory>Enhancement</directory>
            <directory>Formatter</directory>
            <directory>Glyph</directory>
            <directory>Main</directory>
            <directory>Util</directory>
            <directory>Font</directory>
        </testsuite>
    </testsuites>
</phpunit>